/* 
Fonts
font-family: 'Oxygen', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

colors
#FBFFFB - background site color
#266035 - titles/links
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Lato', sans-serif; */
  font-weight: 400;
  font-size: 1 rem;
  line-height: 1.5;
  color: #fbfffb;
  width: 100%;
}

.body-div {
  width: 80%;
  margin: auto;
}

/* Header */
header {
  background-image: url(../images/header.jpg);
  /* width: 100%; */
  height: 80vh;
}

.nav {
  display: flex;
  background-color: #fbfffb;
  display: inline-block;
}

.list {
  display: inline-block;
}
ul {
  display: inline-block;
}

li {
  display: inline-block;
  color: #266035;
}

.CTA-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.CTA-main h1 {
  margin-bottom: 5rem;
  font-size: 4rem;
  font-family: 'Oxygen', sans-serif;
}

/* !change button width */
.button-large {
  background-color: #fbfffb;
  color: #266035;
  padding: 1rem;
  width: 60%;
  margin: auto;
  font-size: 2rem;
}
